html, body {
	height:100%;
}

body {
	background-color: black;
	background-image: linear-gradient(#333, indigo);
	color: white;
	text-shadow: 0.5px 1px black;
}

a {
	color: yellowgreen;
}

nav.navbar {
	background-color: lightgrey;
	text-shadow: 0 0 black;
	color: darkgrey;
}

.navbar-default .navbar-nav>li>a {
	text-size: 1.2em;
	color: #614a7d;
}

.container {

}